---
layout: default
title: Writings
description: Long-form thoughts on my learnings and experiences.
permalink: /writings/
---

<h2>Writings</h2>

<p class="writing__description">
  Long-form thoughts on my learnings and experiences.
</p>

<!-- This loops through _writings folder -->
<div class="writing__all-block">
  {% for post in site.posts %} {% if post.path contains "writings"%}
  <div class="writing__indiv-block">
    <!-- Title -->
    <h6 class="writing__title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h6>
    <!-- Date -->
    <p class="writing__date">{{ post.date | date_to_string }}</p>
    <!-- Excerpt -->
    <p class="writing__excerpt">
      {{ post.content | strip_html | truncatewords: 30 }}
    </p>
    <!-- Tags -->
    <div class="writing__tags">
      {% for tag in post.tags %}
      <div class="writing__tags--item">{{ tag }}</div>
      {% endfor %}
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
