---
layout: default
title: My notes
description: My notes on various topics.
permalink: /my-notes/
---

<p class="writing__hero">My notes</p>

<p class="writing__description">
  My notes on various topics. They are all over the place. If any of them
  doesn't make sense to you, it's probably because I wrote them for myself.
</p>

<!-- This loops through _posts/my-notes folder -->
<ol>
  {% for post in site.posts %} {% if post.path contains "my-notes"%}
  <li>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </li>
  {% endif %} {% endfor %}
</ol>
