// Fonts
@mixin hero-font__01 {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: $fontWeightBold;
  letter-spacing: $heroLetterSpacing;
  font-size: $hero01FontSize;
  line-height: 93%;
  color: $heroColor;
}

@mixin hero-font__02 {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: $fontWeightBold;
  letter-spacing: $heroLetterSpacing;
  font-size: $hero02FontSize;
  line-height: 92%;
  color: $heroColor;
}

@mixin hero-font__03 {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: $fontWeightBold;
  letter-spacing: $heroLetterSpacing;
  font-size: $hero03FontSize;
  line-height: 92%;
  color: $heroColor;
}

h1 {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: $h1FontSize;
  line-height: 120%;
  letter-spacing: $headerLetterSpacing;
}

h2 {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: $h2FontSize;
  line-height: 120%;
  letter-spacing: $headerLetterSpacing;
}

h3 {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: $h3FontSize;
  line-height: 120%;
  letter-spacing: $headerLetterSpacing;
}

h4 {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: $h4FontSize;
  line-height: 118%;
  letter-spacing: $headerLetterSpacing;
}

h5 {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: $h5FontSize;
  line-height: 118%;
  letter-spacing: $headerLetterSpacing;
}

h6 {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: $h6FontSize;
  line-height: 118%;
  letter-spacing: $headerLetterSpacing;
}

.body-font {
  font-family: $bodyFont;
  font-style: normal;

  &__L {
    font-size: 18px;

    &--regular {
      font-weight: $fontWeightRegular;
    }

    &--medium {
      font-weight: $fontWeightMedium;
    }

    &--bold {
      font-weight: $fontWeightSemiBold;
    }
  }

  &__M {
    font-size: 16px;

    &--regular {
      font-weight: $fontWeightRegular;
    }

    &--medium {
      font-weight: $fontWeightMedium;
    }

    &--bold {
      font-weight: $fontWeightSemiBold;
    }
  }

  &__S {
    font-size: 14px;

    &--regular {
      font-weight: $fontWeightRegular;
    }

    &.--medium {
      font-weight: $fontWeightMedium;
    }

    &.--bold {
      font-weight: $fontWeightSemiBold;
    }
  }

  &.__XXS {
    font-size: 12px;

    &.--regular {
      font-weight: $fontWeightRegular;
    }

    &.--medium {
      font-weight: $fontWeightMedium;
    }

    &.--bold {
      font-weight: $fontWeightSemiBold;
    }
  }
}
