.footer {
  height: 100px;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $grey80;

  @include media("<=desktop") {
    margin: 0 3rem;
  }

  @include media("<=tablet") {
    margin: 0 2rem;
  }

  @include media("<=large-phone") {
    justify-content: center;
  }

  &__bg {
    background: $backgroundColor;
    border-top: 1px solid $grey50;
  }

  &__logo {
    &:link {
      color: $grey80;
      text-decoration: none;
    }

    &:visited {
      color: $grey80;
      text-decoration: none;
    }
  }

  &__social-ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;

    &--li {
      display: inline;
      padding-right: 1rem;

      &:last-child {
        padding-right: 0;
      }

      @include media("<=phone") {
        padding-right: 0.5rem;
      }
    }

    // These classes are used in the .svg files:
    &--svgicon {
      width: 28px;
      height: 28px;

      @include media("<=small-phone") {
        width: 24px;
        height: 24px;
      }

      &--path {
        fill: $grey70;
        transition: fill 0.2s ease-in-out;

        &:hover {
          fill: $primaryColor100;
        }
      }
    }
  }
}
