html {
  height: 100vh;
  box-sizing: border-box;
}

body {
  background: $backgroundColor;
  margin: 0;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // Font
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
  font-weight: $fontWeightRegular;
  line-height: $bodyLineHeight;

  a {
    &:link {
      color: $primaryColor100;
      text-decoration: none;
    }

    &:hover {
      color: $secondaryColor100;
      text-decoration: none;
    }

    &:visited {
      color: $primaryColor100;
      text-decoration: none;
    }
  }
}

.container {
  margin: 2rem auto 4rem auto; // Horizontal center

  @media (max-width: $contentWidth + 32px + 32px) {
    margin: 2rem 2rem 4rem 2rem;
  }

  &__global {
    max-width: 1080px;
  }

  &__content {
    max-width: $contentWidth;

    @media (min-width: $contentWidth + 32px + 32px) {
      min-width: $contentWidth;
    }
  }
}

.hide-for-mobile {
  @include media("<=large-phone") {
    display: none;
  }
}
