html {
  height: 100vh;
  box-sizing: border-box;
}

body {
  background: $backgroundColor;
  margin: 0;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // Font
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
  font-weight: $fontWeightRegular;
  line-height: 190%;

  & a {
    &:link {
      color: $primaryColor100;
      text-decoration: none;
    }

    &:visited {
      color: $primaryColor100;
      text-decoration: none;
    }
  }
}

.container {
  margin: 0 auto; // Horizontal center

  @media (max-width: 562px + 32px + 32px) {
    margin: 0 2rem;
  }

  &__global {
    max-width: 1080px;
  }

  &__content {
    max-width: 562px;
  }
}
