.post {
  display: flex;
  flex-direction: column;

  &__pretext {
    margin-top: 0.5rem;
    color: $grey80;
  }

  &__content {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  &__thanks {
    color: $grey80;
    margin-bottom: 3rem;
  }

  &__back-button {
    margin-top: 3rem;
  }
}
