body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
  font-weight: $fontWeightRegular;
}

.container {
  max-width: 1080px;
  margin: 0 auto; // Horizontal center
}
