// Colors:

$primaryColor100: #1b76ff;
$primaryColor80: #8dbbff;
$primaryColor60: #c6ddff;

$secondaryColor100: #ffa41b;
$secondaryColor80: #ffd28d;
$secondaryColor60: #ffe8c6;

$grey80: #8c8c8c;
$grey70: #d1d1d1;
$grey60: #dddddd;
$grey50: #e8e8e8;
$grey40: #f3f3f3;
$grey30: #f9f9f9;

$bodyColor: #000000;
$backgroundColor: #ffffff;

// Fonts:
$bodyFont: "Montserrat", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

$hero01FontSize: 82px;
$hero02FontSize: 68px;
$h1FontSize: 60px;
$h2FontSize: 50px;
$h3FontSize: 44px;
$h4FontSize: 34px;
$h5FontSize: 28px;
$h6FontSize: 24px;
$bodyFontSize: 16px;

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$headerLetterSpacing: -0.02em;
$heroLetterSpacing: -0.01em;
