---
layout: default
---

<div class="post">
  <h4>{{ page.title }}</h4>
  <p class="writing__date">{{ page.date | date_to_string }}</p>

  <!-- Pre-text -->
  {% if page.pretext %}
  <div class="post__pretext">{{ page.pretext }}</div>
  {% endif %}

  <!-- Content -->
  <div class="post__content">{{ content }}</div>

  <!-- Thanks -->
  {% if page.thanks %}
  <div class="post__thanks">{{ page.thanks }}</div>
  {% endif %}

  <!-- Tags -->
  <div class="writing__tags">
    {% for tag in page.tags %}
    <div class="writing__tags--item">{{ tag }}</div>
    {% endfor %}
  </div>

  <!-- Back to cateogry -->
  <a class="post__back-button" href="{{ page.categories[0] | relative_url }}"
    >< Back to {{ page.categories }}
  </a>
</div>
